<?xml version="1.0"?>
<config>
    <modules>
        <RBech_CategoryExport>
            <version>0.1.0</version>
        </RBech_CategoryExport>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_category_tab_product>RBech_CategoryExport_Block_Adminhtml_Catalog_Category_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <RBech_CategoryExport before="Mage_Adminhtml_Catalog_CategoryController">RBech_CategoryExport_Adminhtml</RBech_CategoryExport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>