<?xml version="1.0"?>
<config>
    <modules>
        <RBech_CategoryExport>
            <version>0.1.0</version>
        </RBech_CategoryExport>
    </modules>
    <global>
        <!-- Define models -->
        <models>
            <categoryexport>
                <class>RBech_CategoryExport_Model</class>
            </categoryexport>
        </models>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <categoryexport>
                        <class>categoryexport/observer</class>
                        <method>addExport</method>
                    </categoryexport>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
    <!-- Add admin router -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <RBech_CategoryExport before="Mage_Adminhtml_Catalog_CategoryController">RBech_CategoryExport_Adminhtml</RBech_CategoryExport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>